// @use 'variables' as *;

// .card {
//   box-sizing: border-box;
//   border: 1px solid #f3f3f3;
//   border-radius: 5px;
//   width: 200px;

//   &__img {
//     width: 160px;
//     height: 134px;

//     margin-top: 32px;
//     margin-left: 19px;
//     margin-right: 19px;
//     background-color: $color-border;
//   }

//   &__title {
//     height: 36px;
//     margin-top: 40px;
//     margin-left: $spacing;
//     margin-right: $spacing;

//     font-weight: 500;
//     font-size: 12px;
//     line-height: 18px;
//     color: $color-title;
//   }

//   &__product {
//     width: 98px;
//     height: 14px;

//     margin-left: $spacing;
//     margin-right: 84px;
//     margin-top: 4px;

//     font-size: 10px;
//     line-height: 14px;
//     color: $color-secondary;
//     font-weight: 400;
//   }

//   &__rating {
//     display: flex;
//     justify-content: space-between;

//     width: 166px;
//     height: 16px;

//     margin-right: $spacing;
//     margin-left: $spacing;

//     margin-top: $spacing;
//   }

//   &__reviews {
//     font-size: 10px;
//     line-height: 14px;
//     height: 16px;
//     color: $color-title;
//     font-weight: 400;
//   }

//   &__buy {
//     width: 166px;
//     height: 40px;

//     display: flex;
//     justify-content: center;
//     align-items: center;
//     box-sizing: border-box;

//     margin-right: $spacing;
//     margin-left: $spacing;
//     margin-top: $spacing;

//     border-radius: 5px;
//     border: 1px solid transparent;

//     color: $color-background;
//     background-color: $color-primary;

//     font-weight: 700;
//     font-size: 14px;
//     line-height: 16px;
//     text-transform: uppercase;
//     text-decoration: none;

//     &:hover {
//       color: $color-primary;
//       background-color: $color-background;
//       border: 1px solid $color-primary;
//     }
//   }
// }

// .price {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;

//   margin-left: $spacing;
//   margin-right: $spacing;
//   margin-top: 24px;
// }

// .price__text {
//   font-weight: 400;
//   color: $color-secondary;
//   font-size: 12px;
//   line-height: 18px;
// }

// .price__number {
//   font-weight: 700;
//   color: $color-title;
//   font-size: 16px;
//   line-height: 18px;
// }

@use 'variables' as *;

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.card {
  box-sizing: border-box;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 200px;
  height: 400px;

  padding: 32px 16px;

  &__img {
    width: 160px;
    height: 134px;

    background-color: $color-border;
  }

  &__title {
    height: 36px;
    margin-top: 40px;

    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $color-title;
  }

  &__product {
    width: 98px;
    height: 14px;

    margin-top: 4px;

    font-size: 10px;
    line-height: 14px;
    color: $color-secondary;
    font-weight: 400;
  }

  &__rating {
    display: flex;
    justify-content: space-between;

    width: 166px;
    height: 16px;

    margin-top: $spacing;
  }

  &__reviews {
    font-size: 10px;
    line-height: 14px;
    height: 16px;
    color: $color-title;
    font-weight: 400;
  }

  &__buy {
    width: 166px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    margin-top: $spacing;

    border-radius: 5px;
    border: 1px solid transparent;

    color: $color-background;
    background-color: $color-primary;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: $color-primary;
      background-color: $color-background;
      border: 1px solid $color-primary;
    }
  }
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 24px;
}

.price__text {
  font-weight: 400;
  color: $color-secondary;
  font-size: 12px;
  line-height: 18px;
}

.price__number {
  font-weight: 700;
  color: $color-title;
  font-size: 16px;
  line-height: 18px;
}
