body {
  margin: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

// .card {
//   width: 198px;
//   height: 406px;
//   border-radius: 5px;
//   border: 1px solid black;
//   display: flex;
//   flex-direction: column;

//   &__img {
//     display: flex;

//     width: 160px;
//     height: 134px;
//     margin-top: 32px;
//     margin-left: 19px;
//     margin-right: 19px;
//   }

//   &__title {
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     height: 36px;
//     font-weight: 500;
//     font-size: 12px;
//     line-height: 18px;
//     letter-spacing: 0%;
//     margin-top: 40px;
//     margin-left: 16px;
//     margin-right: 16px;
//     color: #060b35;
//   }

//   &__product {
//     display: flex;
//     width: 98px;
//     height: 14px;
//   }
// }

.card {
  width: 198px;
  height: 406px;
  border: 1px solid #f3f3f3;

  border-radius: 5px;
  background-color: #fff;

  display: flex;
  flex-direction: column;

  &__img {
    width: 160px;
    height: 134px;

    margin-top: 32px;
    margin-left: 19px;
    margin-right: 19px;
    background-color: #f3f3f3;
  }

  &__title {
    height: 36px;
    margin-top: 40px;
    margin-left: 16px;
    margin-right: 16px;

    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #060b35;
  }

  &__product {
    width: 98px;
    height: 14px;

    margin-left: 16px;
    margin-right: 84px;
    margin-top: 4px;

    font-size: 10px;
    line-height: 14px;
    color: #616070;
    font-weight: 400;
  }

  &__rating {
    display: flex;
    justify-content: space-between;

    width: 166px;
    height: 16px;

    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
  }

  &__reviews {
    font-size: 10px;
    line-height: 14px;
    height: 16px;
    color: #060b35;
    font-weight: 400;
  }

  &__buy {
    width: 166px;
    height: 40px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    border-radius: 5px;
    border: none;

    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;

    color: #fff;
    background-color: #00acdc;
  }

  &__buy:hover {
    color: #00acdc;
    background-color: #fff;
    border: 1px solid #00acdc;
  }
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: 16px;
  margin-right: 16px;
  margin-top: 24px;
}

.price__text {
  font-weight: 400;
  color: #616070;
  font-size: 12px;
  line-height: 18px;
}

.price__number {
  font-weight: 700;
  color: #060b35;
  font-size: 16px;
  line-height: 18px;
}

.stars {
  display: flex;
}

.stars__star {
  width: 16px;
  height: 16px;

  border-radius: 0.5px;
}

.stars__star:not(:last-child) {
  margin-right: 4px;
}
