$card-width: 200px;
$card-height: 406px;
$spacing: 16px;
$star-spacing: 4px;
$star-size: 16px;
$color-border: #f3f3f3;
$color-background: #fff;
$color-title: #060b35;
$color-secondary: #616070;
$color-primary: #00acdc;
